li{
    margin: 10px 10px 75px;
    list-style-type: none;
    font-family:'Courier New';
    color:rgb(65, 211, 180);
}
p {
    margin: 75px;
    font-family:'Courier New';
    color:rgb(79, 169, 185);
}
body {
    background-color: rgb(0, 0, 0);
}
pre {
    margin: 25px 50px 75px;
    color:rgb(225, 241, 255);
}